* {
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
}

#container {
  margin: 15vh auto 5vh auto;
  width: 40%;
  box-shadow: 3px 2px 5px 5px #f4f4f4;
}

#heading,
#form {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

#list-ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#form input {
  outline: none;
  border: none;
  background-color: transparent;
}

.clear-btn {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.list-li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 2px;
}

.list-input {
  display: flex;
  justify-content: space-between;
}

.v-dots {
  align-self: flex-end;
  color: grey;
  opacity: 0.7;
}

#input-span,
#heading-span {
  color: grey;
  opacity: 0.7;
}

.checked {
  text-decoration: line-through;
}

.del-btn {
  cursor: pointer;
}
